@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap');

* {
  text-decoration: none;
}
.header {
  display: flex;
  flex-flow: row wrap;
  font-size: 20px;
  text-align: center;
  /* margin: 10px 10px 200px 10px; */
  /* align-self: self-end; */
  /* align-items: flex-start;
  align-items: center; не получилось почему-то. Посмотреть потом, как будет заполнен лист!*/
  /* font-family: 'Oswald', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #8a606b; */
}

.header_top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-family: 'Oswald', sans-serif;
}

.header_top_links {
  width: 50%;
  display: flex;
  justify-content: space-between;
}
.links_ss {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin-right: 10px;
}

a {
  color: blue;
  /* transition: all 1s; */
}
a:hover {
  color: rgb(252, 92, 0);
}

/* a:visited {
  color: blueviolet;
} */
.header_top_logo {
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: rgb(255, 72, 0);
}
.submenu {
  font-size: 14px;
  color: rgb(0, 102, 255);
}
.menu .menu_ss {
  display: none;
}

.header_botton {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* div {
  border: 1px solid #000;
} */

.article {
  width: 99%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.Info {
  width: 50%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

/* .article > img {
  width: 450px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin-right: 10px;
} Почему-то не получается*/

.foto img {
  width: 450px;
  height: auto;
}

.Blackboard {
  font-size: 20px;
  color: rgba(151, 165, 20, 0.911);
  display: flex;
  justify-content: center;
  margin-right: 10px;
  font-style: italic;
}

.Work {
  display: flex;
  flex-flow: column;
  /* margin-right: 10px; */
  font-family: 'Lobster', sans-serif;
}

.Work > button {
  width: 20%;
}

.InfoSite {
  display: flex;
  justify-content: space-between;
  margin: 10px 10px 10px 10px;
  /* font-weight: bolder; */
  font-weight: lighter;
}

.Work > label {
  font-size: 40px;
  color: blue;
  display: flex;
  justify-content: center;
  margin-right: 10px;
}

/* input'submit' {
  width: 20%;
  font-size: 16px;
  color: crimson;
} Как эту кнопку отредактировать? */

/* button {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
} */

h1 {
  /* text-shadow: x y offer collor; */
  color: blue;
  text-shadow: 2px 2px 22px #cc0b45d7;
  text-transform: uppercase;
}

p.Info {
  text-align: justify;
}
/* p {
  display: flex;
} */
/* _________________________ */

/* Programms */

ol {
  /* list-style-type: ;
   */
  /* list-style-image: url(./Материал/5.png); */
  list-style-image: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(52, 81, 135, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  /* css gradient */
}

.btn {
  background: rgb(131, 14, 14);
  padding: 10px 10px;
  color: #fff;
  border: none;
  border-radius: 5%;
  cursor: pointer;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;

  /* font-family: inherit; шрифт ,который использовался выше*/
}
.btn:hover {
  opacity: 0.8;
}

/* _________________
For Timesheet */

.table {
  width: 100%;
}

.table td {
  text-align: center;
  padding-bottom: 10px;
}

.table td:hover {
  background: rgb(122, 122, 155);
}

.table tr:nth-child(even) {
  background: rgb(212, 212, 216);
}
/* .table tr:nth-child(odd) {
  background: rgb(212, 212, 216);
}  Нечетная строчка*/

.table tr:nth-child(1) {
  background: rgb(86, 86, 235);
}

.table td:nth-child(1) {
  background: rgb(86, 86, 235);
}

.navbar {
  background: lightcoral;
  /* padding: 10px 20px; */
  margin-bottom: 10px;
}

.navbar ul {
  list-style: none;
  padding: 0 20px;
  margin: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 10px;
  padding: 10px;
}
.navbar ul li:hover {
  background: #ea456e;
  color: #fff;
}

.navbar ul li:last-child {
  margin: 0px;
}

/* Boodstrap */

.dropdown-item {
  font-size: 14px;
}

/* Медиазапросы  */
@media screen and (max-width: 939.98px) {
  .header {
    font-size: 18px;
    margin: 10px 10px 10px 10px;
  }
  .foto img {
    width: 350px;
    height: auto;
  }

  .menu {
    display: none;
  }
}
@media screen and (max-width: 739.98px) {
  .header {
    font-size: 16px;
  }
  .foto img {
    width: 100%;
    height: auto;
    display: block;
    justify-content: center;
  }
  .Info {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  .menu {
    display: none;
  }
  .links_ss {
    justify-content: flex-end;
  }
  .btn {
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 16px;
  }

  @media screen and (max-width: 679.98px) {
    .header_botton {
      display: none;
    }
    .menu {
      display: block;
    }
    .submenu {
      display: none;
    }
    .menu:hover {
      /* color: aqua; */
      .submenu {
        display: block;
        background: #e7bac5;
        border: 2px solid #003559;
        border-radius: 2%;
        position: absolute;
        left: 0;
        text-align: right;
        padding-right: 10px;
        margin-left: 20px;
        /* visibility: hidden; не знаю зачем он нужен */
        /* opacity: 0; */

        width: 150px;
        transition: 0.6s ease-in-out;
        /* не проходит почему-то */
      }
    }
    .menu li {
      list-style-type: none;
    }
  }
  @media screen and (max-width: 564.98px) {
    .header_top_links {
      width: 66%;
      display: flex;
      justify-content: space-between;
    }
    .Work > label {
      font-size: 16px;
    }
  }

  @media screen and (max-width: 499.98px) {
    .menu .menu_ss {
      display: flex;
    }
    .links_ss {
      display: none;
    }
    .header_top_links {
      width: 30%;
    }
    .header_top_logo {
      width: 50%;
      justify-content: space-evenly;
    }
    .Work > button {
      width: 30%;
    }
    footer {
      font-size: 14px;
    }
  }
}
